name: 'Manual Release'

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Commitlint and Other Shared Build Steps
      uses: momentohq/standards-and-practices/github-actions/shared-build@gh-actions-v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup Elixir
      uses: erlef/setup-beam@v1
      with:
        otp-version: '25.3.2'
        elixir-version: '1.14.5'

    - name: Build
      run: |
        pushd src
          mix deps.get
          mix compile
        popd

    - name: Set release
      id: semrel
      uses: go-semantic-release/action@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        allow-initial-development-versions: true
        force-bump-patch-version: true

    - name: Publish to hex
      env:
        HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
        ELIXIR_SDK_VERSION: ${{ steps.semrel.outputs.version }}
      run: |
        pushd src
          mix hex.publish --yes
        popd
