name: On Pull Request

on:
  pull_request:
    branches: [main]

env:
  MOMENTO_API_KEY: ${{ secrets.ALPHA_API_KEY_V2 }}
  MOMENTO_ENDPOINT: "cell-alpha-dev.preprod.a.momentohq.com"
  TEST_CACHE_NAME: elixir-integration-test-ci-${{ github.sha }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Verify README generation
        uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v2
        with:
          project_status: official
          project_stability: beta
          project_type: sdk
          sdk_language: Elixir
          dev_docs_slug: elixir

      - name: Commitlint and Other Shared Build Steps
        uses: momentohq/standards-and-practices/github-actions/shared-build@gh-actions-v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: '25.3.2'
          elixir-version: '1.14.5'

      - name: Build and run tests
        run: |
          pushd src
            mix deps.get
            mix compile
            mix format --check-formatted
            mix dialyzer
            mix test
          popd

      - name: Run integration tests
        run: |
          pushd src
            mix test integration-test
          popd

      - name: Build and run examples
        run: |
          pushd examples
            mix deps.get
            mix compile
            mix format --check-formatted
            mix dialyzer
            mix run basic.exs
            mix run sorted_set.exs
            mix run doc_examples/cheat_sheet.exs
            mix run doc_examples/readme_example.exs
            mix run doc_examples.exs
          popd

